<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/app.css}" />

    <meta charset="UTF-8"/>
    <title>GifLib | Home</title>
</head>
<body>
    <h1> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque esse magnam molestiae quia, rem sed similique vel vero voluptates? Distinctio dolore et ex exercitationem perferendis quae sed veniam! Eligendi!</p></h1>
    <img th:src="@{/gifs/compiler-bot.gif}" alt="logo"/>
</body>
</html>